{% extends "base.html" %}

{% block title %}Apollo{% endblock %}

{% block style_extra %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-switch.min.css') }}">
{% endblock style_extra %}

{% block script_extra %}
<script src="{{ url_for('static', filename='js/bootstrap-switch.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/inc/vexflow.musicxml.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/generator.js') }}"></script>
<script src="{{ url_for('static', filename='js/inc/wildwebmidi.js') }}"></script>
<script src="{{ url_for('static', filename='js/inc/midiplayer.js') }}"></script>


{% endblock script_extra%}

{% block content %}
<h3>Simple Music Generator</h3>
<br>
<label for="input_time_signature">Time Signature</label>&nbsp;
<select id="input_time_signature">
  <option value="44">4 / 4</option>
  <option value="34">3 / 4</option>
</select>

<br><br>
<div id="input_chord">
  <div class="form-row">
    <label for="chords">Chord Progression</label><br>
    <input autofocus id="chords" type="text" placeholder="G D Em C G" class="chord_box form-control"/>&nbsp;
    <button id="btn_go" class="btn btn-danger"><b>Go</b></button>
  </div>
</div>
<br>
<div class="blank_line"></div>
<div class="well_head"><sup>Enjoy!</sup></div>
<div class="well" id="result">
  <br>
  <div class="midplayer">
    <div id="player">
      <button id="btn_play" type="button" class="btn btn-danger">
        <strong>&nbsp;Play&nbsp;</strong></button>&nbsp;
    </div>
    <div id="input_loop">
      <label for"set_loop" id="loop_label">Loop&nbsp;</label>
      <input id="loop" type="checkbox" name="loop-checkbox" checked>
    </div>

  </div>
  <div class="music_xml_viewer" style="padding-bottom: 5pt"></div>
</div>

{% endblock content%}
