.midplayer {
    margin: auto;
    width: 135px;
}

.select_time_signature {
    padding: 3px;
    width: 60px;
    display: inline;
}

.chord_box {
    width: 250px;
    display: inline;
}


#btn_go {
    margin-top: -2px;
}

#result {
    display: none;
}

#footer {
    height: 2em;
    position: relative;
    z-index: 1;
    text-align: center;
}

.container {
    height: auto;
    min-height: 90%;
}

html, body {
    height: 98%;
    margin: 0;
    padding: 0;
}

.blank_line {
    margin: 12px;
}

.navbar-header {
    background-color: #FF3800;
}

.well {
    background-color: #FFFCF8;
}
